<div class="container" [ngClass]="{'right': message.senderId === this.sharedService.userId, 'left': message.senderId != this.sharedService.userId}">
  <div class="message" [ngClass]="{'message-right': message.senderId === this.sharedService.userId, 'message-left': message.senderId != this.sharedService.userId}">
    {{message.body}}
    <div class="email" *ngIf="message.senderId != this.sharedService.userId">
      {{senderEmail}}
    </div>
    <div class="data" [ngClass]="{'data-right': message.senderId === this.sharedService.userId, 'data-left': message.senderId != this.sharedService.userId}">{{message.postDate}}</div>
  </div>
</div>