<div class="container">
  <div class="wrapper">
    <div class="login-header">
      <div class="header-background"></div>
      <span class="header-text">Welcome!</span>
      <span class="header-sub">Create new account</span>
      <img class="login-header-user" src="src/assets/user.svg">
    </div>
    <div class="registration-form">
      <div class="column">
        <input class="registration-input" type="text" [(ngModel)]="this.newUser.name" placeholder="Name">
        <input class="registration-input" type="text" [(ngModel)]="this.newUser.surname" placeholder="Surname">
        <input class="registration-input" type="email" [(ngModel)]="this.newUser.account.email" placeholder="E-mail">
      </div>
      <div class="column">
        <input class="registration-input" type="password" [(ngModel)]="this.newUser.account.password" placeholder="Password">
        <input class="registration-input" type="text" [(ngModel)]="this.newUser.phone" placeholder="Phone">
        <div class="checkboxes">
          <div class="checkbox-container">
            <input class="checkbox" type="checkbox" [checked]="isDev" (change)="isDev = !isDev;addRoleOfDev()">
            <span>Developer</span>
          </div>
          <div class="checkbox-container">
            <input class="checkbox" type="checkbox" [checked]="isTester" (change)="isTester = !isTester;addRoleOfTester()">
            <span>Tester</span>
          </div>
        </div>
      </div>
    </div>
    <button class="btn-registration" (click)="register()">
      Sign on
    </button>
    <div class="registration">
      <span routerLink="/login">Sign in!</span>
    </div>
  </div>
</div>